*
{
    margin: 0px;
    padding: 0px;
}

body
{
    text-align: center; /*For IE6 Shenanigans*/
    font-family: sans-serif;
    background-color: lightgrey;
}

#wrapper
{
    width: 960px;
    margin: 10px auto;
    text-align: left;
    border: 5px navy solid;
    padding: 0px 10px 0px 10px;
    background-color: whitesmoke;
}

#profile_container
{
    width: 960px;
    position: relative;
}

#profile_image
{    
    position: relative;
    left: 0px;
    top: 0px;
}

#profile_text
{
    z-index: 100;
    position: absolute;    
    color: white;
    font-weight: bold;
}

.profile_people
{
    top: 20px;
    left: 20px;
    font-family: 'Tangerine', serif;
    font-size: 90px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

.profile_location
{
    /*top: 180px;*/
    left: 30px;
    font-size: 20px;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    font-family: sans-serif;
    text-align: left;
    position: absolute;
    bottom: 50px;
}

hr
{
    color: coral;
    background-color: coral;
    border: none;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1
{
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Tangerine', serif;
    font-size: 50px;
    //text-shadow: 4px 4px 3px rgba(0,0,0,0.1);  
}

tr.space_under > td
{
  padding-bottom: 1em;
}


.time_title
{
    width: 100px;
}
    
.registry
{
    border: 5px gray solid;
    margin-bottom: 5px;
}

tr.registry_row > td
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.registry_link
{
    white-space: nowrap;
}

.registry_cell_borders
{
    border-left: 2px gray solid;
    border-right: 2px gray solid;
}

.hotel_picture
{
    border: coral solid 2px;
}

.wedding_party_image
{
    width: 60px;
    padding-bottom: 20px;
    padding-right: 10px;
}

.wedding_party_header
{
    font-size: 20px;
    margin-bottom: 20px;
}

.wedding_party_person
{
    vertical-align: top;
}

.wedding_party_name
{
    font-size: 20px;
}

.rsvp_box
{
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
}

.error_message
{
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cb input
{
    margin-left: 20px;
}